<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Talk To Me In Yodish</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body id='bodyMain'>
	<div class="loader"></div>
		<div id='center'>
			<div id='parentWrapper'>
				<img id='logo' src='https://i.imgur.com/zNxgYg9.png' />

				<div id='wrapper'>
    				<div id="my-react-container1">
    					<%= react_component('box1') %>
    				</div>
    				<div id="my-react-container2">
    					<%= react_component('box2') %>
    				</div>
    			<img id='yoda' src='https://i.imgur.com/UTcrNcA.png' />
				<img id='padawan' src='https://i.imgur.com/C9jvUkl.png' />
    				<div id="rights">
  						<h6 id="copyright">© <script type="text/javascript">
							var theDate=new Date()
							document.write(theDate.getFullYear())
							</script> Peter Hahn. All Rights Reserved. Website Design By Peter Hahn</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- <script type="text/javascript" src="/dist/chat.bundle.js"></script> -->

</body>